{% include 'head.html' %}
<aside id="sidebar" class="site-sidebar flex">
    {% include 'header.html' %}
    {% include 'footer.html' %}
</aside>
{% from 'bootstrap5/form.html' import render_form %}

<body class="flex">
    <div id="add-domains" class="flex">
        <div class="wrapper">
            <main id="main" class="domains">
                <div class="item_title flex">
                    <h2 class="title">!!! ВНИМАНИЕ, WARNING, ACHTUNG, БАБАСКА, УВАГА, 警告 !!!</h2>
                    <!-- <h3 class="s_title">ЕСЛИ ТЫ, РАДУЖНЫЙ ПРОКАЗНИК, НЕ ХОЧЕШЬ ПОПАСТЬ В СПИСОК П РУЧКОЙ <br>ДУБЛИРУЙ ДОМЕН БОЕВОЙ ТОЛЬКО ПОСЛЕ ТОГО КАК ВСТАЛИ РЕСУРСНЫЕ ЗАПИСИ</h3> -->
                    <!-- <h3 class="s_title">ДОМЕНЫ .РФ ПРОПИСЫВАЕМ РУССКИМИ БУКВАМИ, СИСТЕМА ИХ КОНВЕРТИРУЕТ САМА</h3> -->
                    <div class="s_title">домены .рф прописываем русскими буквами, система их конвертирует сама</div>
                    <div class="s_title">Все пробелы в названии домена система удаляет автоматически</div>
                    <div>на текущий момент добавлены проверки у названий доменов <br>если не хочешь ошибки,
                        копируй домен без <b>"http://", "https://", "/", и прочих символов</b></div>
                </div>
                <div class="domains__duplicator">
                    <h3 class="s_title">Дублирование</h3>
                    <form id="add-domain" action="">
                        <div class="input-holder">
                            <h5>
                                Тип сайта
                            </h5>
                            <div class="forms flex">
                                <input type="radio" name="type" id="type-0" value="0" checked>
                                <label for="type-0">Минисайт</label>

                                <input type="radio" name="type" id="type-1" value="1">
                                <label for="type-1">Шаблон</label>

                                <input type="radio" name="type" id="type-2" value="2">
                                <label for="type-2">Боевой</label>
                            </div>
                        </div>
                        <div class="input-holder">
                            <h5>
                                Старое название сайта
                            </h5>
                            <input type="text" name="old_site_name" placeholder="Старое название сайта">
                        </div>

                        <div class="input-holder">
                            <h5>
                                Новое название сайта
                            </h5>
                            <input type="text" name="new_site_name" placeholder="Новое название сайта">
                        </div>
                        <div class="input-holder">
                            <h5>
                                Нужна ссл
                            </h5>
                            <div class="forms flex">
                                <input type="radio" name="ssl" value="0" id="ssl-0" checked>
                                <label for="ssl-0">С SSL</label>

                                <input type="radio" name="ssl" value="1" id="ssl-1">
                                <label for="ssl-1">Без SSL</label>
                            </div>
                        </div>

                        <div class="input-holder">
                            <h5>
                                Версия APACHE
                            </h5>
                            <div class="forms flex">
                                <input type="radio" name="apache" value="apache2-php8.0" id="apache-0" checked>
                                <label for="apache-0">Apache 8.0</label>

                                <input type="radio" name="apache" value="apache2-php7.3" id="apache-1">
                                <label for="apache-1">Apache 7.3</label>
                            </div>
                        </div>


                        <button class="btn">
                            Начать
                        </button>


                        <div class="sub-menu">
                            <div class="input-holder">
                                <input type="checkbox" name="need_config" value="need_config" id="need_config" checked>
                                <label for="need_config">Конфиги</label>
                            </div>

                            <div class="input-holder">
                                <input type="checkbox" name="need_new_folder" value="need_new_folder" id="need_new_folder" checked>
                                <label for="need_new_folder">Копировать файлы</label>
                            </div>

                            <div class="input-holder">
                                <input type="checkbox" name="need_bd" value="need_bd" id="need_bd" checked>
                                <label for="need_bd">База данных</label>
                            </div>
                        </div>

                    </form>
                    <div class="form_check">
                        <input class="form-check-input" id="check1" name="sitetype" type="checkbox" value="1">
                        <label class="form-check-label" for="check1">Вы уверены, что правильно заполнили все
                            значения?</label>
                    </div>

                </div>
                {% include './preloads/cat/cat.html' %}
            </main>
        </div>
    </div>
</body>