<header id="header">
    <h1>Панель управления</h1>
    <nav>
        <ul id="menu" class="flex">
            <li class="sub-menu">
                <a href="#">Основная панель</a>
            </li>
            <ol id="sub-menu" class="flex">
                <li>
                    <a href="/dashboard">Главная</a>
                </li>
                <li>
                    <a href="/manuals">Инструкции</a>
                </li>
            </ol>
            <li class="menu">
                <a href="/servers">Настройки сервера</a>
            </li>
            <li class="sub-menu">
                <a href="#">Операции с доменами</a>
            </li>
            <ol id="sub-menu" class="flex">
                <li>
                    <a href="/add_domain">Дублировать</a>
                </li>
                <li>
                    <a href="/create_domain">Создать домен</a>
                </li>
                <li>
                    <a href="/all_domain">Список доменов</a>
                </li>
                <li>
                    <a href="/del_domain">Удалить домен</a>
                </li>
                <li>
                    <a href="/save_domain">Выгрузить сайт</a>
                </li>
            </ol>
            <li class="sub-menu"><a href="#">Операции с SSL</a>
            </li>
            <ol id="sub-menu" class="flex">
                <!-- <li>
                    <a href="/all_ssl">Список всех SSL</a>
                </li> -->
                <li>
                    <a href="/add_ssl">Настройка SSL</a>
                </li>
            </ol>
            <!-- <li class="sub-menu"><a href="#">Операции с IP</a>
            </li>
            <ol id="sub-menu" class="flex">
                <li>
                    <a href="/ip_unban">Разбанить IP</a>
                </li>
                <li>
                    <a href="/ip_ban">Забанить IPL</a>
                </li>
            </ol> -->
            <li class="sub-menu"><a href="#">Операции с FTP</a>
            </li>
            <ol id="sub-menu" class="flex">
                <li>
                    <a href="/add_ftp">Настройка FTP</a>
                </li>
                <!-- <li>
                    <a href="/del_ftp">Удалить FTP</a>
                </li> -->
                
            </ol>
            <li class="sub-menu"><a href="#">Настройка ролей</a>
            </li>
            <ol id="sub-menu" class="flex">
                <li>
                    <a href="/all_user">Список всех ролей</a>
                </li>
                <li>
                    <a href="/users">Настройка ролей</a>
                </li>
            </ol>

            <li class="sub-menu"><a href="#">Операции с базой данных</a>
            </li>
            <ol id="sub-menu" class="flex">
                <li>
                    <a href="/bd">Выгрузить / Загрузить БД</a>
                </li>
            </ol>

            <li>
                <a href="/logout">Выход</a>
            </li>

        </ul>
    </nav>
</header>