{% include 'head.html' %}
<aside id="sidebar" class="site-sidebar flex">
    {% include 'header.html' %}
    {% include 'footer.html' %}
</aside>

<body class="flex">
    <div id="dashboard">
        <div class="wrapper">
            <main id="main" class="dashboard">
                <h2>Добро пожаловать на панель управления {{ username }} {{ logined_user }}!</h2>
                <div class="flex dashboard_item">
                    <strong>В текущей странице собраны инструкции</strong>
                    <div class="items_menu">
                        <ul class="flex">
                            <li class="menu_list active" data-id="info">
                                Как проверить ресурсную запись?
                            </li>
                            <li class="menu_list" data-id="dns">
                                Информация о типах ресурсных записей.
                            </li>
                            <li class="menu_list" data-id="ns">
                                Как поменять ресурсную запись?
                            </li>
                            <li class="menu_list" data-id="domains">
                                Что делать если сайт хостится у клиента?
                            </li>
                            <li class="menu_list" data-id="faq">
                                Ответы на основные вопросы.
                            </li>
                        </ul>
                    </div>
                    <div class="items_content">
                        <div id="info" class="text_list flex active">
                            <div class="item_text">
                                Для того, что бы поменять ресурсную запись необходимо перейти на сайт регистратора домена - перейти в нужный домен - настройка DNS - добавить А- запись
                            </div>
                            <div class="item_text">
                                <b>ВАЖНЫЙ МОМЕНТ</b> в настройках DNS, а именно в NS записях не добжно быть упоминания hosting. 
                                Напримере настроек сайта lksevertrans.ru видно что выбраны NS ns.reg.1 / ns.reg.2. В описание к типу записи сказано что, данный тип записи нужен только для домена (бесплатные DNS сервера). А так как у нас сам хостинг находится на TIMEWEB, то мы пропивываем IP нашего хостинга. <br>Например, ns1.hosting.reg.ru / ns2.hosting.reg.ru нужны только в том случает когда "домен и хостинг клиента"
                            </div>
                            <div class="image_m" data-fancybox="./static/img/mx3.jpg" data-src="./static/img/mx3.jpg">
                                <img src="./static/img/mx3.jpg" alt="">
                            </div>
                            <div class="item_text">
                                Проверить NS-запись можно на сайте <a class="link bold" href="https://mxtoolbox.com/" target="_blank">https://mxtoolbox.com/</a> написав в строке поиска dns:domain или выбрав в выпадающем списке DNS CHECK
                            </div>
                            <div class="image_m" data-fancybox="./static/img/mx4.jpg" data-src="./static/img/mx4.jpg">
                                <img src="./static/img/mx4.jpg" alt="">
                            </div>
                            <div class="item_text">
                                Проверить добавленную запись можно на сайте <a class="link bold" href="https://mxtoolbox.com/" target="_blank">https://mxtoolbox.com/</a> написав в строке поиска a:domain или выбрав в выпадающем списке DNS LOOKUP 
                            </div>
                            <div class="image_m" data-fancybox="./static/img/mx1.jpg" data-src="./static/img/mx1.jpg">
                                <img src="./static/img/mx1.jpg" alt="">
                            </div>
                            <div class="item_text">
                                Если домен "прилинкован" то в ответном сообщении можно увидеть наш IP в графе IP Address. Если там указан наш IP - то все Okay и можно продолжать. Если нет - ждем и проверяем пока не появится наш IP
                            </div>
                            <div class="image_m" data-fancybox="./static/img/mx2.jpg" data-src="./static/img/mx2.jpg">
                                <img src="./static/img/mx2.jpg" alt="">
                            </div>
                            <div class="item_text">
                                Если нужно проверить встали ли NS-записи у регистратора, необходимо в выпадающем списке выбрать тип поиска DNS Check, вместо DNS Lookup 
                            </div>   
                        </div>
                        <div id="dns" class="text_list flex">
                            <div class="item_text">
                                Домен (имя сайта в сети) связывается с хостингом (местом, где расположены файлы сайта) по
                                средством настройки ресурсных записей. Сейчас будет немного скучных определений.
                                <ul class="item_menu">
                                    <li>
                                        <b>DNS</b>
                                        <p>Domain Name System</p>
                                        <p>
                                            Это глобальное распределенное хранилище ключей и значений. Сервера по всему миру
                                            могут предоставить вам значение по ключу, а если им неизвестен ключ, то они попросят
                                            помощи у другого сервера. Проще говоря - это общее название для всяких типов записи
                                            на хостинге
                                        </p>
                                    </li>
                                    <li>
                                        <b>A</b>
                                        <p>Address</p>
                                        <p>
                                            Это это один из фундаментальных видов записей в DNS. Оно связывает домен с
                                            хостингом. A содержит один IPv4-адрес. Есть эквивалент для IPv6-адресов — AAAA.
                                            Адрес (А-запись) нашего основного сервера - 5.23.55.43, АААА-запись нашего сервера -
                                            2a03:6f00:4::517:372b.
                                        </p>
                                    </li>
                                    <li>
                                        <b>NS</b>
                                        <p>Name Server</p>
                                        <p>
                                            NS-запись связывает доменное имя (в данном случае, корневой домен) с DNS-сервером.
                                            Когда вы регистрируете доменное имя у регистратора типа TIMEWEB или 2DOMAINS, они
                                            создают NS-записи для вас и за вас.
                                            Наш сервер относится регистратору TIMEWEB. NS-записи следующие:
                                        <ul>
                                            <li>ns1.timeweb.ru</li>
                                            <li>ns2.timeweb.ru</li>
                                            <li>ns3.timeweb.org</li>
                                            <li>ns4.timeweb.org</li>
                                        </ul>
                                        </p>
                                    </li>
                                    <li>
                                        <b>CNAME</b>
                                        <p>Canonical Name</p>
                                        <p>
                                            Canonical Name (каноническое имя). Она служит для наследования одним доменом всех
                                            ресурсных записей другого домена, за исключением NS. Он связывает одно имя с другим
                                            и можно считать, что CNAME это псевдоним (или алиас) для другого сервера. Например,
                                            если необходимо, чтобы для vologda.grampus-studio.ru были применены те же настройки
                                            DNS, что и для grampus-studio.ru, необходимо указать grampus-studio.ru в качестве
                                            CNAME-записи.
                                        </p>
                                    </li>
                                    <li>
                                        <b>MX</b>
                                        <p>Mail Exchanger</p>
                                        <p>
                                            Он соединяет доменное имя с одним или несколькими почтовыми серверами. Электронная
                                            почта настолько важна, что у нее есть свой тип DNS-записи
                                        </p>
                                    </li>
                                    <li>
                                        <b>TXT</b>
                                        <p> Запись содержит вспомогательную информацию о домене (запись произвольных двоичных
                                            данных). TXT-запись используется, например, для указания SPF-записей и прочей
                                            дополнительной информации про домен, в текстовом виде. Используется очень много где.
                                        </p>
                                    </li>
                                    <li>
                                        <b>SPF</b>
                                        <p>Sender Policy Framework</p>
                                        <p>
                                            Оно используется для защиты домена от подделки. В SPF указывается список доверенных
                                            серверов (IP-адресов), с которых может отправляться почта данного домена, для
                                            предотвращения возможности рассылки спама от вашего имени.
                                        </p>
                                    </li>
                                    <li>
                                        <b>TTL</b>
                                        <p>Time To Live</p>
                                        <p>Запись сервера доменных имен DNS содержит два важных параметра: <br>-адресацию (установку соответствия) запросов для той или иной записи; <br>-время актуальности записи при кэшировании — именно это значение получило зловещее название «время жизни» (TTL).
                                        </p>
                                    </li>
                                </ul>
                                И еще несколько не менее важных деталей.
                                <ul class="item_menu">
                                    <li>
                                        <b>@</b>
                                        <p>указывает на корневую запись домена (например, grampus-studio.ru)</p>
                                    </li>
                                    <li>
                                        <b>*</b>
                                        <p>указывает на wildcard-запись, которая сопоставляет любой поддомен с определенными
                                            настройками основного домена (например, vologda.grampus-studio.ru получит настройки
                                            от домена grampus-studio.ru)</p>
                                    </li>
                                    <li>
                                        <b>www</b>
                                        <p>указывает на поддомен "www" (например, www.grampus-studio.ru). Запись "www" может
                                            быть использована для настройки отдельных настроек для поддомена "www", например,
                                            перенаправления на основной домен или настройки SSL.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="ns" class="text_list flex">
                            Как поменять ресурсную запись
                            <div class="item_text">
                                Для того что бы добавить ресурсную запись при посадке на хостинг нашего домена необходимо перейти на страницу регистратора
                                <ul>
                                    <li>
                                        <a href="https://2domains.ru/" class="text_link" target="_blank">
                                            https://2domains.ru/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.nic.ru/" class="text_link" target="_blank">
                                            https://www.nic.ru/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.reg.ru/" class="text_link" target="_blank">
                                            https://www.reg.ru/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://timeweb.com/ru/" class="text_link" target="_blank">
                                            https://timeweb.com/ru/
                                        </a>
                                    </li>
                                 </ul> 
                                Или на иной регистратор, который выбрал клиент. Зайти по учетным записям и перейти в управление доменом
                            </div>
                            <div class="items_list">
                                <div class="swiper slider1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            
                                           <div class="image_m" data-fancybox="./static/img/2dom1.jpg" data-src="./static/img/2dom1.jpg">
                                                <img src="./static/img/2dom1.jpg" alt="">
                                            </div>
                                            <div>
                                                Заходим в панель управление на хостинге, переходим в настройки и выбираем управление зоной
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                           <div class="image_m" data-fancybox="./static/img/2dom2.jpg" data-src="./static/img/2dom2.jpg">
                                                <img src="./static/img/2dom2.jpg" alt="">
                                            </div>
                                            <div>
                                                Проверяем визуально наличие CNAME записи, добавляем новую запись типа А
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                           <div class="image_m" data-fancybox="./static/img/2dom3.jpg" data-src="./static/img/2dom3.jpg">
                                                <img src="./static/img/2dom3.jpg" alt="">
                                            </div>
                                            <div>
                                                В свободном поле прописываем ресурсную запись ip
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                           <div class="image_m" data-fancybox="./static/img/2dom4.jpg" data-src="./static/img/2dom4.jpg">
                                                <img src="./static/img/2dom4.jpg" alt="">
                                            </div>
                                            <div>
                                                <b>ВАЖНО</b> если CNAME отсуствует, необходимо добавить А-запись для поддомена WWW, как на примере
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="domains" class="text_list flex">
                            DOMAINS
                             <div class="image_m" data-fancybox="./static/img/meme.jpg" data-src="./static/img/meme.jpg">
                                <img src="./static/img/meme.jpg" alt="">
                            </div>
                        </div>
                        <div id="faq" class="text_list flex">
                            FAQ
                            <div class="faq_items accordeon flex">
                                <div class="item_list flex">
                                    <div class="vopros accordeon-title">
                                        Текущая версия и список обновлений в экстракторе
                                    </div>
                                    <div class="otvet accordeon-content flex">
                                        <div class="mouse_item flex">
                                            <div>
                                                DEV BUILD 0.4 (16.04.24)
                                            </div>
                                            <p>
                                                Исправлена давняя проблема с копированием доменов с .рф. Теперь строка с WP_SITEURL будет по умолчанию удаляться.
                                            </p>
                                            <p>
                                                Исправлена ссылка для минисайта во вкладке добавить домен.
                                            </p>
                                            <p>
                                                Исправлены орфографические ошибки.
                                            </p>
                                            <!-- <p>
                                                Отлажена работа удаления домена и открыта для общего доступа
                                            </p>
                                            <p>
                                                Написана логика работы с базой данных для страницы все домены, данный функционал тестируется. На текущий момент он включает в себя название домена, есть ли SSL на сайте и дату создания папки с доменом на хостинге. В дальнейнем функционал дополнится датой покупки и окончания домена, регистратором покупки. Будет настроена сортировка и добавлены табы управления.
                                            </p>
                                            <p>
                                                Для пользователя Programmer возвращена возможность выгрузки списка доменов в текстовом документе
                                            </p> -->
                                        </div>
                                        <div class="mouse_item flex">
                                            <div>
                                                DEV BUILD 0.3 (28.03.24)
                                            </div>
                                            <p>
                                                Добавлена возможность ручной установки ссл.
                                            </p>
                                            <p>
                                                Найден и отлажен баг, при котором не перезаписывались файлы конфигурации после установки ссл при распаковке домена домена.
                                            </p>
                                            <p>
                                                При посадке любой на домен добавлена "защита от дурака" и несколько проверок.
                                            </p>
                                            <p>
                                                Отлажена работа удаления домена и открыта для общего доступа.
                                            </p>
                                            <p>
                                                Написана логика работы с базой данных для страницы все домены, данный функционал тестируется. На текущий момент он включает в себя название домена, есть ли SSL на сайте и дату создания папки с доменом на хостинге. В дальнейнем функционал дополнится датой покупки и окончания домена, регистратором покупки. Будет настроена сортировка и добавлены табы управления.
                                            </p>
                                            <p>
                                                Для пользователя Programmer возвращена возможность выгрузки списка доменов в текстовом документе.
                                            </p>
                                        </div>
                                        <div class="mouse_item flex">
                                            <div>
                                                DEV BUILD 0.2 (22.03.24)
                                            </div>
                                            <p>
                                                Отлажена работа перезапуска конфигураций сервера (прошлая команда отказывалась работать с .рф доменами не учитывала старые версии PHP).
                                            </p>
                                            <p>
                                                По многочисчленным просьбам добавлена крутилка на при развертке сайта.
                                            </p>
                                            <p>
                                                (предварительно) Добавлен вывод списка SSL, в будущем будет пернесен в раздел Операции с доменами - Список доменов.
                                            </p>
                                            <p>
                                                (предварительно) Добавлен вывод списка доменов. Данный раздел в дальнейшем будет расширяться
                                            </p>
                                            <p>
                                                Добавлена возможность удаления сайта (Открыто на тесты для Админов).
                                            </p>
                                            <p>
                                                Прочие мелкие исправление в инструкциях, скриптах и коде. Исправление оргографических ошибок и добавление новых.
                                            </p>
                                        </div>
                                        <div class="mouse_item flex">
                                           <div>
                                               0.1 (20.03.24)
                                           </div>
                                           <p>
                                              Первый рабочий прототип экстрактора. На текущий момент он может только посадить сайт на тестовую/боевую ссылку и поставить ссл 
                                           </p>
                                           <p>
                                               Пишется авторизация, пишутся инструкции для пользования, собирается обратная связи от пользователей
                                           </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_list flex">
                                    <div class="vopros accordeon-title">
                                        Как работает экстратор?    
                                    </div>
                                    <div class="otvet accordeon-content flex">
                                        <p>
                                            Новый экстрактор умеет работать в 3 направлениях: минисайт, шаблон, боевой домен.
                                        </p>
                                        <p>
                                            Принцип работы примерно одинаковый для минисайта и шаблона и боевого. На всем протяжении процеса переноса происходит логирование операций
                                        </p>
                                        <p>
                                            Сперва создается папка в директории /hosting/ по названию нового доменного имени и в созданную папку просходит копирование файлом из папки донора.
                                        </p>
                                        <p>
                                            * У минисайта копирование происходит из папки minisite.grampus-server.ru.
                                            * Для шаблона и боевого необходимо вести название "ОТКУДА" и "КУДА" нужно копировать файлы.
                                        </p>
                                        <p>
                                            После формируются из конфигурационных в папке с экстрактором Apache2 и Ngnix и соответствующие папки в конфигах сервера.
                                        </p>
                                        <p>
                                            * Для шаблона используется один конфиг, в котором по умолчанию предустановлен самоподписанный SSL от ALPFA-SSL.
                                            * Для боевого домена и минисайта формируются конфиги с зашитым SSL от let's encrypt который ставится отдельной командой после.
                                        </p>
                                        <p>
                                            Далее происходит создание учетной записи пользователя в базе данных и создание пустой базы.
                                        </p>
                                        <p>
                                           После проверки созданного пользователя происходит миграция с последующей заменой ссылок в БД с старого домена на новый
                                        </p>
                                        <p>
                                            Вконце идет удаление временных файлом которые используются во время работы. Затем выпускается SSL сертификат да минисайта и боевой ссылки.
                                        </p>
                                        <p>
                                            Самый последний этап это перезапись конфигов под выпущенный SSL, перезапись конфигораций сервера. Этот процесс длится примерно полминуты.
                                        </p>
                                    </div>
                                </div>
                                <div class="item_list flex">
                                    <div class="vopros accordeon-title">
                                        Какие ограничения есть при установке SSL
                                    </div>
                                    <div class="otvet accordeon-content flex">
                                        <p>
                                            При переносе сайт на боевую ссылку переносится база данных с сайта шаблона. Так как на всех тестовых ссылках по умолчанию уже стот SSL то и на боевом домене, в база данных, ссылки на медиафайлы, записи и прочее уже идут в формате "HTTPS". По этому если на сайте при установке SSL возникла ошибка, то конфигурационные файлы на сервере не понимают этого и не могут перезапуситься без SSL. Это накладывает ограничения на все остальные посадки на домен.
                                        </p>
                                        <p>
                                            1) самое главное ограничение в установке SSL - это то, что она может быть устновлена только на проиндекcированный и прилинкованный домен
                                        </p>
                                        <p>
                                            2) на сервере может быть уже запущено автообновление SSL (оно происходит автоматиически)
                                        </p>
                                        <p>
                                            3) let's encrypt может потребоваться дополнительные ресурсные записи (например АААА или указание для А-записи дополнительного поддомена WWW)
                                        </p>
                                        <p>
                                            4) SSL уже стоит на сервере
                                        </p>
                                    </div>
                                </div>
                            </div>
                            после   
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>